*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#info{
    position: fixed;
    top:40px;
    left:40px;
    display: flex;
    flex-direction: row;
    background-color: burlywood;
}
#bh-info{
    display: flex;
    flex-direction: column;
}
#hud{
    top:0;
    background-color: cadetblue;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 60px;   
}
#skill-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#skill-bar-left, #skill-bar-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#skill-bar-right-sign, #skill-bar-left-sign{
    height: 20px;
    width: 20px;
    border: 50%;
}
#game_over_window{

    position: absolute;
    top:100px;
    left: 45%;
    width: 200px;
    height: 50px;
    background-color: blueviolet;

}

#row_board{
    display: flex;
    flex-direction: row;
}
#score_board{
    background-color: burlywood;
    width: 400px;
    position: absolute;
    top:200px;
    left: 500px;
}
#score_board_after{
    background-color: burlywood;
    width: 400px;
    position: absolute;
    top:200px;
    left: 500px;
}