*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#info{
    position: fixed;
    top:40px;
    left:40px;
    display: flex;
    flex-direction: row;
    background-color: burlywood;
}
#bh-info{
    display: flex;
    flex-direction: column;
}
#hud{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 200px;
    background-color: burlywood;
    position: absolute; 
    left: 0; 
    right: 0;
    top:0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 300px;
}
#skill-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#skill-bar-left, #skill-bar-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#skill-bar-right-sign, #skill-bar-left-sign{
    height: 20px;
    width: 20px;
    border: 50%;
}
#game_over_window{

    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 200px;
    background-color: burlywood;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 200px;

}

#row_board{
    display: flex;
    flex-direction: row;
}
#score_board{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 200px;
    background-color: burlywood;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 200px;
}
#score_board_after{
    background-color: burlywood;
    width: 400px;
    position: absolute;
    top:200px;
    left: 500px;
}
#hp-box{
    background-color: red;
    width : 20px;
    height: 20px;
}
#in_row_window{

    
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 200px;
    background-color: burlywood;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 200px;
    

}

#score_table{
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
}
#next_game_button{
    width: 80px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    padding: 2px;
    background-color: chocolate;
}
td{
    text-align: center;
}
#submit{
    width: 80px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    padding: 2px;
    background-color: chocolate;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hp-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
#hp-bar{
    width: 100%;
}

#start{
    

    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 200px;
    background-color: burlywood;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 200px;
    
    
}